<div class="container">
  <div class="col-sm-10">
    <input
      type="email"
      id="email"
      placeholder="EMail"
      #email>
  </div>
  <div class="col-sm-10">
    <input
      type="password"
      id="password"
      placeholder="Password (***)"
      #password>
  </div>
  <div class="col-sm-10">
    <input
      type="password"
      id="confirmation"
      placeholder="Repeat Password (***)"
      #confirmation>
  </div>
  <div class="offset-sm-2 col-sm-10">
    <button
      [disabled]="!this.formValid"
      (click)="register()"
      type="submit">
        Register
    </button>
  </div>
</div>
